body {    
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 80%;    
}

#canvas {    
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin: 20px;    
}

.main {
    display: flex;
}
.menu {
    margin: 25px 5px;
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.menu button {
    margin: 5px 0;
}

.game {
    flex: 0 1 70%;
}

.size p {
    margin: 10px 0 1px 0;
}


.size__input {
    display: flex;
}

.size__input input {
    width: 50%;
    margin: 10px 1px;
}